<ion-header [translucent]="true">
  <ion-toolbar
    style="--background:none; border-bottom: #4C7176 solid; border-width: 3px;border-top: solid 5px #4C7176;">
    <ion-img slot="start" style="height: 50px; margin: 5px;" src="assets/img/principal/logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button style="color:#4C7176;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-toolbar style="--background:none; border: none;">
    <div>
      <img (click)="goTo('cotizacion')" style="height: 25px;display: inline; width: 20px; vertical-align: super;"
        src="assets/img/back.png">
      <ion-button
        style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176;  height: 25px;vertical-align: super;"
        (click)="goTo('cotizacion')">
        Productos</ion-button>
    </div>
  </ion-toolbar>


  <ion-card style="--background:#E6E7E7">

    <ion-card-content style="text-align: justify;line-height: 1;font-size: 14px;">
      Selecciona los productos

      <div style="margin-top: 20px;">

        <ion-item button detail detail-icon="add-outline" *ngFor="let tipoEquipo of tiposEquipo"
          style=" --background: #E6E7E7; color:#59595C; border-bottom: dashed #4C7176 1px; "
          (click)=" showModal(tipoEquipo.id)">
          <h1>{{tipoEquipo.tipo}}</h1>
        </ion-item>


      </div>

      <hr>
      <div>
        <table>
          <tr>
            <th>Unidades</th>
            <th>Descripcion</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Aircenter SX 7.5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Compresor es de tornillo rotativo CSG-2</td>
          </tr>

        </table>
      </div>


      <div style="text-align: -webkit-center; margin-top: 20px;">
        <ion-button (click)="goTo('cotizacion')" type="submit"
          style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176">ANTERIOR</ion-button>

        <ion-button (click)="goForward('enviar')" type="submit"
          style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176">SIGUIENTE</ion-button>
      </div>
    </ion-card-content>




  </ion-card>


</ion-content>

<ion-footer text-center no-border transparent style="background:white">
  <div style=" text-align: -webkit-center; border-top: 2px solid #4C7176;">
    <ion-img style="width: 225px;" src="/assets/img/footer/footer.png"></ion-img>
  </div>
</ion-footer>