<ion-content [fullscreen]="true" class="vertical-align-content">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: -webkit-center;">
          <ion-img style="width:70%;
                      display: block;" src="assets/img/login/logo.png">
          </ion-img>
        </div>


        <form [formGroup]="formLogin">

          <ion-item class="roundedInput">
            <ion-input clearInput="true" formControlName="user" placeholder="Usuario"></ion-input>
          </ion-item>

          <ion-item class="roundedInput">
            <ion-input clearInput="true" formControlName="password" type="password" placeholder="Contraseña">
            </ion-input>
          </ion-item>
          <div style="text-align: -webkit-center;">
            <ion-button [disabled]="!formLogin.valid"
              style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176;"
              (click)="loginUser(formLogin.value)">Iniciar Sesión</ion-button>
          </div>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>