<ion-header [translucent]="true">
  <ion-toolbar
    style="--background:none; border-bottom: #4C7176 solid; border-width: 3px;border-top: solid 5px #4C7176;">
    <ion-img slot="start" style="height: 50px; margin: 5px;" src="assets/img/principal/logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button style="color:#4C7176;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-toolbar style="--background:none; border: none;">
    <div>
      <img (click)="goTo('productos')" style="height: 25px;display: inline; width: 20px; vertical-align: super;"
        src="assets/img/back.png">
      <ion-button
        style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176;  height: 25px;vertical-align: super;"
        (click)="goTo('productos')">
        Confirmacion de Envio</ion-button>
    </div>
  </ion-toolbar>


  <ion-card style="--background:#E6E7E7">

    <ion-card-content style="text-align: justify;line-height: 1;font-size: 14px;">
      Verifica los datos de la Solicitud de Cotizacion

      <div style="margin-top: 20px;border-top: 2px solid #4C7176; padding-top: 10px;">
        <h1> Datos:</h1>
        <h2><strong> No. de oportunidad: </strong> {{datosForm.oportunidad}}</h2>
        <h2> <strong>No. de oferta:</strong> {{datosForm.oferta}}</h2>
        <h2> <strong>Id Cliente:</strong> {{datosForm.idCliente}}</h2>
        <h2> <strong>Nombre del cliente:</strong> {{datosForm.nombreCliente}}</h2>
        <h2> <strong>Dirección de entrega:</strong> {{datosForm.direccion}}</h2>
        <h2> <strong>Contacto:</strong> {{datosForm.contacto}} </h2>
        <h2> <strong>Condiciones de pago:</strong> {{datosForm.condicionPago}}</h2>
        <h2> <strong>Moneda:</strong> {{datosForm.moneda}}</h2>
        <h2> <strong>Porcentaje de descuento:</strong> {{datosForm.porcentajeDescuento}}%</h2>
        <h2> <strong>Correo electrónico del cliente:</strong> {{datosForm.correoCliente}}</h2>
        <h2> <strong>Observacion:</strong> {{datosForm.observacion}}</h2>

      </div>

      <hr>
      <div style="border-top: 2px solid #4C7176; padding-top: 10px;">
        <table>
          <tr>
            <th>#</th>
            <th>Unidades</th>
            <th>Descripcion</th>
            <th>PSI</th>
            <th>Voltaje</th>
          </tr>
          <tr *ngFor="let item of modelosStorage; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.PSI}}</td>
            <td>{{item.VOLTAJE}}</td>
          </tr>

        </table>
      </div>


      <div style="text-align: -webkit-center; margin-top: 20px;">

        <ion-button (click)="sendMail()" type="submit"
          style="--border-radius: 25px;--padding: 0 25px; --background: #4C7176">ENVIAR</ion-button>
      </div>
    </ion-card-content>




  </ion-card>


</ion-content>

<ion-footer text-center no-border transparent style="background:white">
  <div style=" text-align: -webkit-center; border-top: 2px solid #4C7176;">
    <ion-img style="width: 225px;" src="assets/img/footer/footer.png"></ion-img>
  </div>
</ion-footer>