ion-content {
    --background: url('/assets/img/login/background.png') no-repeat center center / cover;
}

 h1{
   font-size: larger;
 }

 .roundedInput {
--border-color: var(--ion-color-medium-shade);
  margin-top: 5px;
--border-radius: 25px;
--border-width: 2px;
--box-shadow: 0px gray;
--color: black;
--highlight-height: 0;
--background: transparent;  
}

 
  
   ion-col{
         padding: 0px
   }
    
   ion-grid{
         padding: 0px
   }


   ion-item{
         margin: 3px;
   }

   ion-card-content{
     padding-top: 3px;
   }
   
   .item-native {
    min-height: 25px !important;
    height: 25px !important;
    }
 