<ion-header [translucent]="true">
  <ion-toolbar
    style="--background:none; border-bottom: #4C7176 solid; border-width: 3px;border-top: solid 5px #4C7176;">
    <ion-img slot="start" style="height: 50px; margin: 5px;" src="assets/img/principal/logo.png"></ion-img>

    <ion-buttons slot="end">
      <ion-menu-button style="color:#4C7176;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div style="text-align: -webkit-center;">
    <div class="rounded">
      MÀS AIRE POR MENOS ENERGIA
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button style="--background: #4C7176;">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button (click)="goTo('profileAll')" style="--background: #ffffff;" [hidden]="user.rol != 3">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="goTo('profile')" style="--background: #ffffff;">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid style="margin-top: 25px;" style="text-align: -webkit-center;">
    <ion-row>
      <ion-col [hidden]="user.rol == 2" size-xs="6" size-md="4">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/cotizador.png"></ion-img>
          <ion-button (click)="goTo('cotizacion')" cli class="OptButton">Cotizador</ion-button>
        </div>
      </ion-col>

      <ion-col class="cell-class-border cell-class" size-xs="6" size-md="4">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/postventa.png"></ion-img>
          <ion-button (click)="goTo('postVenta')" class="OptButton">Post Venta</ion-button>
        </div>
      </ion-col>

      <ion-col [hidden]="1" class="cell-class-border" size-xs="6" size-md="4">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/ada.png"></ion-img>
          <ion-button (click)="goTo('ada')" class="OptButton">ADA</ion-button>
        </div>
      </ion-col>

      <ion-col [hidden]="1" size-xs="6" size-md="4" class="cell-class">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/arranques.png"></ion-img>
          <ion-button class="OptButton" (click)="goTo('arranques')">Arranques</ion-button>
        </div>
      </ion-col>

      <ion-col [hidden]="1" class="cell-class-border" size-xs="6" size-md="4">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/checklist.png"></ion-img>
          <ion-button class="OptButton">Checklist</ion-button>
        </div>
      </ion-col>

      <ion-col class="cell-class-border cell-class" size-xs="6" size-md="4">
        <div class="backgroundOpt">
          <ion-img class="OptImg" src="assets/img/menu/historial.png"></ion-img>
          <ion-button (click)="goTo('historialMenu')" class="OptButton">Historial</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer text-center no-border transparent style="background:white">
  <div style=" text-align: -webkit-center; border-top: 2px solid #4C7176;">
    <ion-img style="width: 225px;" src="assets/img/footer/footer.png"></ion-img>
  </div>
</ion-footer>